p {
  font-family: "azeret mono", monospace;
  color: #dcd7ca;
  text-align: center;
  margin-top: 10%;
}
.img img {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
